<main class="w-full px-6 flex flex-col items-center justify-center text-center mt-20 md:mt-32">
    
    <h1 class="text-5xl md:text-7xl font-extrabold mb-6 tracking-tight drop-shadow-sm">
      One Digital Ecosystem for Modern Businesses
    </h1>
    
    <p class="text-lg md:text-[20px] font-light mb-12 max-w-4xl opacity-95 leading-relaxed">
      Kopedia brings together digital solutions from Kohinoor Group — empowering businesses  <br class="hidden md:block">
      across Indonesia with integrated platforms for payments, digital products, financial services, QRIS solutions, and business operations.
    </p>
    
   <a href="#about" class="px-8 py-3.5 bg-white text-[#D56D43] font-bold rounded-lg hover:bg-[#D56D43] hover:text-white transition-all duration-300 shadow-[0_0_20px_rgba(213,109,67,0.2)]">
      Learn More
    </a>
    
  </main>