@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap');

/* Sintaks pemanggilan Tailwind CSS v4 yang baru */
@import "tailwindcss";

@import 'aos/dist/aos.css';

html {
  scroll-behavior: smooth;
}

/* Memaksa seluruh website menggunakan font ini */

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Mengunci kebocoran horizontal (Horizontal Overflow) secara mutlak */
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

